# pydash==4.1.0
pydash==4.2.1

# numpy
# numpy==1.11.2
numpy==1.13.3

# pandas==0.19.0
# pandas==0.19.2
pandas==0.21.0

# scipy==0.18.1
scipy==1.0.0

# This is used only in the IDE (uncomment it if we managed to run python from this docker image in the future!)
# matplotlib==2.1.0